{% extends '::frontend.html.twig' %}
{% block title %}{{'menu.bideoak' | trans}}{% endblock %}
{% block article %}
    <!--<div id="portada">-->
    <div id="bideoa">
        <h1>{{'menu.bideoak' | trans}}</h1>
        <div class="bid">
            <!--<iframe id="bideoa" src="//www.youtube.com/embed/Piwy7i2lCWY?list=UUpSbd1P9_CMYGvRW0Ls8kzw" ></iframe>-->
            <iframe width="560" height="480" src="//www.youtube.com/embed/PdPBK5Vb0pA" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
{% endblock %}
{% block aside %}
            <aside class="right">
                <h1>{{'menu.hurrengoak' | trans}}</h1>
            </aside>
           <!-- </div>-->
{% endblock %}
