{% extends '::frontend.html.twig' %}
{% block title %}{{'menu.biografia' | trans}}{% endblock %}
{% block article %}
    <!--<div id="portada">-->
        <article id="biografia">
            <h1>{{'menu.biografia' | trans}}</h1>
            <section class="artikuluak">
                <header>
                    <h1>Tommy Gun</h1>
                </header>
                <p> Txarli (Ahotsa), Xabi (Gitarra), Beñat (Baxua) eta K Jauna (Bateria), hasierako formazioaren kideok, La Kelo Gaztetxean gure ibilbideari hasiera eman genion 2010ko bukaeran; ostean, geroxeago, kide berri bat batu zitzaigun, Kaiet (gitarra) izenekoa.</p>
                <p>"Koherentzia, konpromisoa eta borroka" beti xede, hala-nola, Ezkerraldeak jaiotzen ikusi dituen hainbat punkrock talde alternatiboen zerrenda luzera batzea lortu  dugulakoan gaude. Zerrenda luzea, bai, etengabe luzatzen (ari) dena. Eragin desberdinetatik abiatuz (Oi ingeles klasikotik, Kaliforniako punkrock patineteroraino), gustuko dugun estiloa finkatzea lortu dugu, nahiz eta baliabide mugatuak izan, eta, beti ere, jarrera xume eta apala mantentzearen alde eginda. Horrela, gure musika elikatzen duen kaleko-espirituari jarraitasuna ematea lortu (nahi) dugu.</p>
                <p>2011ko maiatzean argitaratutako “Garage’s Hits” maketaren ostean (kritika oso baikorrak jaso zituena, baldintza eskasetan grabatua egon arren), 2014ko udaberrian argitaratutako lehen LPa aurkezteari ekin genion, “Nazkagarrien aurka” izenekoa. Aurkezpenaren birak Euskal Herriko hainbat txokotara eraman gaitu, eta baita beste herrialde batetara, Manchesterra, han ospatu zen 0161 Antifa Festival-era hain zuzen ere.</p>
                <footer>
                    <h3>2014ko irailaren 19an eguneratua</h3>
                </footer>
            </section>
        </article>
{% endblock %}
{% block aside %}
<!--             <aside class="right">
                <h1>{{'menu.hurrengoak' | trans}}</h1>
            </aside> -->
           <!-- </div>-->
{% endblock %}