{% extends '::frontend.html.twig' %}
{% block title %}{{'menu.biografia' | trans}}{% endblock %}
{% block article %}
    <!--<div id="portada">-->
        <article id="biografia">
            <h1>{{'menu.biografia' | trans}}</h1>
            <section class="artikuluak">
                <header>
                    <h1>Tommy Gun</h1>
                </header>
                <p>Los tipos de letras pueden ser tan diferentes que no existe un método universal de clasificación y denominación de los tipos de letra. En las hojas de estilo esta situación se resuelve mediante propiedades que permiten describir el aspecto general del tipo de letra y es el navegador el que escoge, de entre los tipos de letra instalados en el ordenador, el que mejor se adapta a esa descripción.</p>
                <p>Los tipos de letras pueden ser tan diferentes que no existe un método universal de clasificación y denominación de los tipos de letra. En las hojas de estilo esta situación se resuelve mediante propiedades que permiten describir el aspecto general del tipo de letra y es el navegador el que escoge, de entre los tipos de letra instalados en el ordenador, el que mejor se adapta a esa descripción.</p>
                <p>Los tipos de letras pueden ser tan diferentes que no existe un método universal de clasificación y denominación de los tipos de letra. En las hojas de estilo esta situación se resuelve mediante propiedades que permiten describir el aspecto general del tipo de letra y es el navegador el que escoge, de entre los tipos de letra instalados en el ordenador, el que mejor se adapta a esa descripción.</p>
                <p>Los tipos de letras pueden ser tan diferentes que no existe un método universal de clasificación y denominación de los tipos de letra. En las hojas de estilo esta situación se resuelve mediante propiedades que permiten describir el aspecto general del tipo de letra y es el navegador el que escoge, de entre los tipos de letra instalados en el ordenador, el que mejor se adapta a esa descripción.</p>
                <footer>
                    <h3>2014ko urtarrilaren 10ean eguneratua</h3>
                </footer>
            </section>
        </article>
{% endblock %}
{% block aside %}
            <aside class="right">
                <h1>{{'menu.hurrengoak' | trans}}</h1>
            </aside>
           <!-- </div>-->
{% endblock %}