{% extends '::frontend.html.twig' %}
{% block title %}{{'menu.denda' | trans}}{% endblock %}
{% block article %}
    <!--<div id="portada">-->
    <section id="denda">
        <h1>{{'menu.denda' | trans}}</h1>
        <i>Lanean gaude, denda aurki zabaltzeko. Barkatu eragozpenak.</i>
    </section>
{% endblock %}
{% block aside %}
<!--             <aside class="right">
                <h1>{{'menu.hurrengoak' | trans}}</h1>
            </aside> -->
           <!-- </div>-->
{% endblock %}
