{% extends '::frontend.html.twig' %}
{% block title %}{{'menu.denda' | trans}}{% endblock %}
{% block article %}
    <!--<div id="portada">-->
{% endblock %}
{% block aside %}
            <aside class="right">
                <h1>{{'menu.hurrengoak' | trans}}</h1>
            </aside>
           <!-- </div>-->
{% endblock %}
