html, body {
	font-family: Arial,Helvetica,sans-serif;
	background: url("http://subtlepatterns.com/patterns/cloth_alike.png") repeat scroll 0% 0% transparent;
}
nav {
	background: linear-gradient(#383838, #272727) repeat scroll 0 0 rgba(0, 0, 0, 0);
	border-bottom: 1px solid #222;
	width: 100%;
	float: left;
}

hr {
	border: 0; height: 1px;
	background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
	background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
	background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
	background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
}

h1 {
	text-align: center;
}
h2 {
	text-align: center;
}

ul, ol{
	list-style: none;
	margin:0;
	padding: 0;
}

a {

}
a:link, a:visited
{
	text-decoration:none;
	color: #000;
}

#pie {
	width:56em;
	position:relative;
	float:left;
	background: linear-gradient(#383838, #272727) repeat scroll 0 0 rgba(0, 0, 0, 0);
	border-bottom: 1px solid #222;
	color: #FFF;
	margin-top: 3em;
	height:5em;
}

#pie a {
	color: #FFF;
}
#pie a:hover {
	color:red;
}
#pie h2 {
	text-align: center;
	font-size: 13pt;
	padding: 10px;
}

.argazki-estiloa {
	padding: 3px;
	background: #000000;
	border: 1px solid red;
	box-shadow: 1px 1px 2px #000;
}
.argazki-estiloa:hover {
	border:1px solid #fff;
}
.argazki-galeria img {
	padding: 3px;
	background: #000000;
	border: 1px solid red;
	box-shadow: 1px 1px 2px #000;
	float:left;
	margin-bottom: 10px;
}

.argazki-galeria img:hover {
	border:1px solid #fff;
}

#hizkuntzak {
	position:relative;
	float: left;
	width: 50%;
}
#hizkuntzak span {
	color: red;
}
#tmg-social {
	position:relative;
	float: right;
	width: 50%;
	text-align: right;
}
#tmg-social img:hover {
	opacity: 0.6;
}
.portada_argazkia{
	width:100%;
	height: 300px;
}

#container {
position:relative; width:60em; margin:10px auto 0px auto; /*border:1px solid #000;*/ overflow:hidden;

}

@media screen and (max-width: 500px) {
	body{background:#000;}
	h1{color:yellow;}
	h2{color:yellow;}
	.dropdown{color:yellow;}
}

@media screen and (min-width: 501px) and (max-width: 800px) {
	body{background:grey;}
	h1{color:green;}
	h2{color:green;}
	.dropdown{color:green;}
}

#cabecera {
	width:56em; position:relative; float:left; margin:2em 0 1em 0; min-height:175px;
}


/*#cabecera {
	margin: auto;
	width: 60em;
	margin:2em 0 1em 0; min-height:80px;
}*/
#content {
	width:56em;
	/*margin:3em 2em;*/
	position:relative;
	float:left;
	min-height:500px;
	margin-top: 1.5em;
}

#kontzertuak {
	position:relative;
	float:left;
	width:65%;
}
#kontzertuak h1  {
	text-align: left;
}
#kontzertuak h2 {
	text-align: left;
}
.kontz-list {
	margin-left: 1em;
}
.kontz-data {
	background: #333;
	color: #fff;
	font-size: 14pt;
	padding: 4px;
	border-radius: 6px;
}
.kontz-urtea {
	margin-left: 1em;
}
.urtea {
	background-color: #383838;
	color: red;
	border-radius: 2px;
}
.urtea:hover {
	background-color: #ccc;
	color:red;
}
.urtea h2 {
	text-align: left;
	margin-left: 0.5em;
	cursor: pointer;
}
#kontz-2014-lista ul, #kontz-2013-lista ul, #kontz-2012-lista ul, #kontz-2011-lista ul {
	margin-bottom: 1em;
}
#kontz-2014-lista ul li, #kontz-2013-lista ul li, #kontz-2012-lista ul li, #kontz-2011-lista ul li {
	display: inline-block;
}

.kontz-ezk {
	position: relative;
	float:left;
	width:35%;
}
.kontz-esk {
	position: relative;
	float:right;
	width:65%;
}

.kontzertu {
	margin:5px 0px;
	padding-right: 10px;
	/*background-color: #EEEEEE;
  border-radius: 6px;*/
	margin-bottom: 15px;
	display:inline-block;
	clear:both;
	width:100%;
}

.data-kontzertu {
	background-color: #383838;
	color:red;
	width:72%;

}
.data-kontzertu h2 {
	font-size: 15pt;
	margin-left: 1em;
	text-align: left;
}
.izena-kontzertu {
	font-size: 15pt;

}
.img-kontzertu{
	/*position: relative;
	width: 25%;
	float: left;*/
}
.img-kontzertu img {
	width:135px;
	height: 175px;
	margin-left:3px;
}
.info-kontzertu{
	margin-left: 0.5em;
}
.info-kontzertu p {
	margin-bottom: 1px;
	margin-top: 1px;
}
.kontz-oina {
	font-size: 10pt;
	text-align: left;
}
.kontz-oina a {
	color: blue;
}
.gehiago-ikusi, .gutxiago-ikusi{
	clear:both;
	text-align:left;
	margin-left:10px;
}
#zutabea {
	position:relative;
	float:right;
	margin-top: 30px;
	width:30%;
}

#zutabea audio {
	width:100%;
}
.right{
	position:relative;
	/*width:250px;
	height:150px;*/
	clear:both;
	margin:20px 0px;
	/*background-color: #EEEEEE;*/
    border-radius: 6px;
}
#berriak {
	position:relative;
	float:left;
	width:65%;
}

#berriak h1 {
	text-align: left;
}

.artikuluak{
	margin:10px 0px;
	padding-left: 10px;
	padding-right: 10px;
	/*background-color: #EEEEEE;*/
	border-radius: 6px;
	margin-bottom: 10px;
	clear: both;
	display: inline-block;
}
.artikuluak h1 {
	margin-bottom: 0px;
}
.artikuluak h3 {
	font-size: 9pt;
	text-align: left;
	margin-top: 1px;
	margin-left: 2px;
}
.artikuluak a:hover {
	color: red;
}
.right a {
	margin-right: 10px;
}
.right h3 {
	font-size: 10pt;
	text-align: left;
}

#entzun-abestia
{
	padding: 0 0 3px 10px;
}

#berria{
	position:relative;
	float:left;
	width:65%;
	margin-top: 20px;
}
#biografia{
	position:relative;
	float:left;
	width:65%;
}
#biografia h1{
	text-align: left;
}
#berria h1{
	text-align: left;
}
#diska {
	position:relative;
	float:left;
	width:65%;
	margin-top: 25px;
}
#diska h1 {
	text-align: left;
	font-size: 20pt;
	margin-top:0em;
	margin-bottom: 0em;
}
#karatula-info {
	min-height: 320px;
}
#karatula{
	position:relative;
	float:left;
	width: 40%;
	margin-bottom: 5px;
}
#karatula-img{
	width:210px;
	height: 220px;
	/*margin-left:20px;*/
	/*margin-right: 10px;*/
}
.ikonoak {
	margin-top: 1em;
	margin-left: 1.5em;
	cursor: pointer;
}
.ikonoak:hover {
	opacity: 0.6;
}
#info-diska{
	position: relative;
	width: 60%;
	float: right;
	min-height: 260px;
}
#info-diska p {
	margin-top: 0.25em;
}
#info-diska ul {
	margin-left: 1em;
}
#abestiak-diska {
	float:left;
}
#abestiak-diska h2 {
	text-align: left;
	margin-bottom: 0.5em;
}
#abestiak-diska ul {
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-top: 0px;
	margin: 0px;
	margin-left: 0.5em;
}

#abestiak-diska ul li ul li {
	display: inline-block;
}
#letra{
	clear:both;
	display:none;
	font-size: 10pt;
	margin-left: 2em;
	background-color: #383838;
	color: #fff;
	padding: 10px;
	border-radius: 4px;
}
.access {
	margin-left: 0em;
	margin-top: 0em;
	font-size: 13pt;
	width:56em;
}

.access li a {
	/*background-color: #000;*/
	color:#FFF;
	text-decoration: none;
	padding:10px 20px;
	display: block;
}

.access li a:hover {
	background-color:#434343;
}

.access > li {
	float:left;
}

.access li ul {
	display: none;
	position: absolute;
	min-width: 140px;
	padding: 0px;
	margin: 0px;
	z-index: 1;
}

.access li:hover > ul {
	display: block;
}

.access li ul li a{
	background-color: #CCC;
}
.acces ul li ul li a:hover {
	color: #FFF;
}

#kontaktua h1 {
	text-align: left;
}

#kontaktua {
	width: 65%;
	float: left;
	position: relative;
    border-radius: 15px;
   -moz-border-radius: 15px;
   -webkit-border-radius: 15px;
}

#galeria {
	position:relative;
	float:left;
	width:65%;
}

#galeria h1 {
	text-align: left;
}

#galeria img {
	width: 150px;
	height: 150px;
	margin-right: 10px;
}
#form-kontaktua {
	text-decoration: none;
}

#bideoa {
	position:relative;
	float:left;
	width:65%;
}

#bideoa h1 {
	text-align: left;
}

.bid {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.bid iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.berria-argazki {
	position: relative;
	float: left;
	width: 30%;
	margin-bottom: 5px;
}
.berria-argazki img {
	width: 150px;
	height: 160px;
}
.berria-testua {
	position: relative;
	float: right;
	width: 70%;
	margin-bottom: 5px;
}
.letra-ikusi, .letra-ezkutatu, .gehiago-ikusi, .gutxiago-ikusi {
	cursor: pointer;
}
#kontaktua-form {
	margin-left: 1em;
}


#kontaktua-form form { font-size: 13pt; }
#kontaktua-form div { clear: left; margin-bottom: 10px; }
#kontaktua-form label { float: left; margin-left: 0.5em; text-align: left; width: 100px; font-weight: bold; vertical-align: top; padding-top: 10px; }
#kontaktua-form input[type="text"],
#kontaktua-form input[type="email"]
    { width: 500px; line-height: 26px; font-size: 20px; min-height: 26px; }
#kontaktua-form textarea { width: 500px; height: 150px; line-height: 26px; font-size: 20px; }
#kontaktua-form input[type="submit"] { float:right; margin-right: 60px; width: 150px; line-height: 26px; font-size: 20px; min-height: 26px; }
#kontaktua-form ul li { color: #ff0000; margin-bottom: 5px; }


#denda {
	position:relative;
	float:left;
	width:65%;
}

#denda h1{
	text-align: left;
}